.git
.gitignore
.gitattributes
.github

.gradle
build
out

.idea
.vscode
*.iml
*.ipr
*.iws
.DS_Store
**/.DS_Store

database.mv.db
database.trace.db
application-local.properties
.env
.env.*

AGENTS.md
src/test
/tools